Flask
Bootstrap-Flask
Flask-Admin
Flask-Babel
Flask-Bcrypt
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-Uploads
mssql
pyodbc
mysql-connector
mysqlclient
Flask-Script
Flask-Testing
Flask-WTF
Jinja2
Mako
MarkupSafe
SQLAlchemy
WTForms
Werkzeug
alembic
blinker
coverage
python-dotenv
email_validator
requests
oauthlib
pyOpenSSL
pandas
openpyxl
xlrd
xlwt
virtualenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
boto3
tinify